!!!
%html
  - title = 'Itsnikolay.github.io by itsNikolay'
  - meta_description = title
  = Haml::Engine.new(File.read( File.dirname(__FILE__) + '/partials/head.haml')).render(Object.new, title: title, meta_description: meta_description)
  %body
    = Haml::Engine.new(File.read( File.dirname(__FILE__) + '/partials/navbar.haml')).render
    .container
      .col-md-10
        .page-header.text-center
          %h1 Welcome to itsNikolay's Blog. For now it's under construstion.
      = Haml::Engine.new(File.read( File.dirname(__FILE__) + '/partials/sidebar.haml')).render

