<!doctype html>
<html>
  <head>
    <%= partial 'layouts/head' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="three columns">
          <%= partial 'layouts/sidebar' %>
        </div>

        <div class="nine columns main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
