<!doctype html>
<html>
  <head>
    <%= partial 'layouts/head' %>
  </head>
  <body>
    <div class="container">
      <header class="logo">
        <%= link_to 'Blog', '/' %>
      </header>

      <div class="row">
        <div class="three columns">
          <%= partial 'layouts/sidebar' %>
        </div>

        <div class="nine columns">
          <div class="main">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
