.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.pull-right{role: "complementary"}
  %ul.nav.bs-docs-sidenav
    -#%li
      -#%a{href: "#js-overview"} Overview
      -#%ul.nav
        -#%li
          -#%a{href: "#js-individual-compiled"} Individual or compiled
        -#%li
          -#%a{href: "#js-data-attrs"} Data attributes
        -#%li
          -#%a{href: "#js-programmatic-api"} Programmatic API
        -#%li
          -#%a{href: "#js-noconflict"} No conflict
        -#%li
          -#%a{href: "#js-events"} Events
        -#%li
          -#%a{href: "#callout-third-party-libs"} Third-party libraries
    -#%li
      -#%a{href: "#transitions"} Transitions
    -#%li
      -#%a{href: "#modals"} Modal
      -#%ul.nav
        -#%li
          -#%a{href: "#modals-examples"} Examples
        -#%li
          -#%a{href: "#modals-sizes"} Sizes
        -#%li
          -#%a{href: "#modals-remove-animation"} Remove animation
        -#%li
          -#%a{href: "#modals-usage"} Usage
    -#%li
      -#%a{href: "#dropdowns"} Dropdown
      -#%ul.nav
        -#%li
          -#%a{href: "#dropdowns-examples"} Examples
        -#%li
          -#%a{href: "#dropdowns-usage"} Usage
    -#%li
      -#%a{href: "#scrollspy"} Scrollspy
      -#%ul.nav
        -#%li
          -#%a{href: "#scrollspy-examples"} Examples
        -#%li
          -#%a{href: "#scrollspy-usage"} Usage
    -#%li
      -#%a{href: "#tabs"} Tab
      -#%ul.nav
        -#%li
          -#%a{href: "#tabs-examples"} Examples
        -#%li
          -#%a{href: "#tabs-usage"} Usage
    -#%li
      -#%a{href: "#tooltips"} Tooltip
      -#%ul.nav
        -#%li
          -#%a{href: "#tooltips-examples"} Examples
        -#%li
          -#%a{href: "#tooltips-usage"} Usage
    -#%li
      -#%a{href: "#popovers"} Popover
      -#%ul.nav
        -#%li
          -#%a{href: "#popovers-examples"} Examples
        -#%li
          -#%a{href: "#popovers-usage"} Usage
    -#%li
      -#%a{href: "#alerts"} Alert
      -#%ul.nav
        -#%li
          -#%a{href: "#alerts-examples"} Examples
        -#%li
          -#%a{href: "#alerts-usage"} Usage
    -#%li
      -#%a{href: "#buttons"} Button
      -#%ul.nav
        -#%li
          -#%a{href: "#buttons-examples"} Examples
        -#%li
          -#%a{href: "#buttons-usage"} Usage
    -#%li
      -#%a{href: "#collapse"} Collapse
      -#%ul.nav
        -#%li
          -#%a{href: "#collapse-examples"} Examples
        -#%li
          -#%a{href: "#collapse-usage"} Usage
    -#%li
      -#%a{href: "#carousel"} Carousel
      -#%ul.nav
        -#%li
          -#%a{href: "#carousel-examples"} Examples
        -#%li
          -#%a{href: "#carousel-usage"} Usage
    -#%li.active
      -#%a{href: "#affix"} Affix
      -#%ul.nav
        -#%li.active
          -#%a{href: "#affix-examples"} Examples
        -#%li
          -#%a{href: "#affix-usage"} Usage
  -#%a.back-to-top{href: "#top"}
    -#Back to top
  -#%a.bs-docs-theme-toggle{href: "#"}
    -#Preview theme
